# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# VS Code
.vscode/
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
ENV/

# Jupyter
-.ipynb_checkpoints/
-*.ipynb
+.ipynb_checkpoints/


# Docker
*.log
